# # Archivos de configuración
# */local_settings.py
# *.env

# # Archivos de base de datos
# db.sqlite3
# *.db

# # Archivos generados
# __pycache__/
# *.pyc
# *.pyo
# *.pyd
# *.pyo
# *.mo
# *.pot
# *.log
# *.tmp

# # Archivos de entorno local
# .env
# */venv/
# */.venv/
# */env/
# */.env/

# # Archivos de dependencias
# */venv/
# */.venv/
# */env/
# */.env/
# */node_modules/
# */bower_components/
# */.sass-cache/
# */.cache/
# */.idea/
# */.vscode/
# */.git/

# # Archivos de usuario específicos de IDE/editor
# .vscode/
# .idea/
# *.iml
# *.ipynb_checkpoints/

# # bin/
# lib/
